{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JumushBar.kg</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">

    <link href="{% static 'css/normailze-input.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo-input.css' %}" rel="stylesheet">
    <link href="{% static 'css/component-input.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home:mainpage' %}">JumushBar.kg</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'home:list_workers'%}">исполнители</a>
                    </li>
                    <li>
                        <a href="{% url 'main:mainpage'%}">обратная связь</a>
                    </li>
                    <!--
                    <li>
                        <a><span data-toggle="modal" data-target="#signout"><span style="cursor:pointer">выйти</span></span></a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url( {% static 'images/home-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                            <img style="hegiht:750px;width:350px;" src="{% static 'images/v3.png'%}">
                        <hr class="small">
                        <span class="subheading">{{slogan}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
        <div class="col-md-3">
        </div>
            <div class="col-md-6">
                <div class="post-preview">

                </div>
                <hr>
            </div> 
            <div class="col-md-3"></div>
        </div>
    </div>

    <hr>
    <div class="container text-center">
        <h3>
        Позвоните по номеру <strong><span style="color:#32CD32"> 0556606737 </span></strong>чтобы оставить заявку<hr>
        или
        <hr>
        Заполните форму и мы вам перезвоним в течение <strong><span style="color:#32CD32"> 5 минут  </span></strong></h3>
        <form id="order-form" action="{% url 'home:mainpage'%}" method="post" role="form">
            {% csrf_token %}
        
            <section class="content text-center">
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="input-13">
                        <h4>Имя заказчика</h4>
                    </label>
                    <input class="input__field input__field--minoru" name="name" type="text" id="input-13" required/>
                    <label class="input__label input__label--minoru" for="input-13"></label>
                </span>
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="input-14">
                        <h4>Номер телефона</h4>
                    </label>
                    <input class="input__field input__field--minoru" name="telephone" type="text" id="input-14" required/>
                    <label class="input__label input__label--minoru" for="input-14"></label>
                </span>
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="input-15">
                        <h4>Мне нужен</h4>
                    </label>
                    <select class="input__field input__field--minoru" name="category" id="input-15" required>
                        {% for category in categories %}
                            {% if category.information_set.count > 0%}
                                <option value="{{category.pk}}">{{category.title}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label class="input__label input__label--minoru" for="input-15"></label>
                </span>
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="input-17">
                        <h4>Примерное время </h4>
                    </label>
                    <input class="input__field input__field--minoru" name="date_order" type="text" id="input-17" placeholder="например: 31.05.2015 в 16:40" />
                    <label class="input__label input__label--minoru" for="input-17"></label>
                </span>
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="input-16">
                        <h4>Описание работы</h4>
                    </label>
                    <textarea id="address-area" class="input__field input__field--minoru" id="input-16" name="description" rows="6" placeholder="например: Нужен сантехник чтобы установить стиральную машину "></textarea>
                    <label class="input__label input__label--minoru" for="input-16"></label>
                </span>
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="input-16">
                        <h4>Адрес заказчика</h4>
                    </label>
                    <textarea id="address-area" class="input__field input__field--minoru" id="input-16" name="address" rows="6" placeholder="например: Восток-5, Дом 27,Квартира 64 "></textarea>
                    <label class="input__label input__label--minoru" for="input-16"></label>
                </span>
            </section>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <input class="btn btn-block btn-sm btn-success" value="отправить заявку" type="submit">
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>

    <!-- social share 
    <div class="share42init" data-top1="150" data-top2="20" data-margin="0"></div>
    <script type="text/javascript" src="{% static 'js/share42.js'%}"></script>
    -->
    <hr>
    <br>
    <br>
    <hr>
   
    <!-- Exit  model page 
    <div class="modal fade" id="signout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{user.first_name}} {{user.last_name}}</h4>
            </div>
            <div class="modal-body">
                <h4>вы уверены что хотите выйти?</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href=""><button type="button" class="btn btn-primary">Выйти</button></a>
                </div>
            </div>
        </div>
      </div>
    </div>
    -->

    

    <!-- Footer -->
    <footer style="background-color:gray">
        <div  class="container text-center">
            <p style="color:white">© 2015 JumushBar.kg</p>
        </div>
    </footer>


     <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter31125606 = new Ya.Metrika({
                        id:31125606,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/31125606" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    

</body>

</html>
