{%load staticfiles%}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JumushBar.kg</title>
	<!-- core CSS -->
    <link href="{% static 'css/new_style/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/normailze-input.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo-input.css' %}" rel="stylesheet">
    <link href="{% static 'css/component-input.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
</head><!--/head-->

<body id="home" class="homepage">


    <header id="top-header" class="navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                <nav class="collapse navbar-collapse navbar-left" role="navigation">
                    <div class="">
                        <ul id="nav" class="nav navbar-nav">
                            <li>
                                <a href="{%url 'home:mainpage'%}" style="font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight:400; font-size: 16px;"><img height="35" src="{% static 'images/jumushbar1.png'%}"></a>
                            </li>

                            <li><a href="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
                            <!--<li class="scroll"><a href=""  style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;">Все задания</a></li>-->
                        </ul>
                       
                    </div>
                </nav>
                    
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="">
                        <ul id="nav" class="nav navbar-nav">
                        <li><a href="{% url 'main:signout'%}" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;">Выйти</a></li>
                        </ul>
                        
                        <!--<a href="" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;"><span id="contact" style=" line-height: 48px;padding: 10px 15px;text-decoration: none;background: transparent;">Войти</span> </a>
                        <a href="" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;"><span id="contact" style=" line-height: 48px;padding: 10px 15px;text-decoration: none;background: transparent;">Регистрация</span> </a>-->
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>

    {% if success_message%}
            <div class="alert alert-success text-center" role="alert">
            <br>
            <h5>{{success_message}}</h5>
            </div>
    {% endif %}
    <section id="main-slider">
        <div >
            <div class="item" style="background-image: url({% static 'images/home-bg.jpg' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <br><br><br><br><br><br><br>
                                    <img style="hegiht:750px;width:350px;" class="img-responsive center-block" src="{% static 'images/v3.png'%}">
                                    <br><hr class="small">
                                    <span class="subheading">{{slogan}}</span>
                                    <br><br>
                                        <a href="{% url 'home:add_task' %}"><button type="button" class="btn btn-lg btn-min-block btn-success">Заказать услугу</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="about" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    
                    <div class="section-heading text-center">
                    <h2 class="h-bold">Пожалуйста завершите регистрацию</h2>
                    <hr>
                    <div class="divider-header"></div>
                    
                    </div>
                    <form action="{% url 'home:create_info'%}" method="POST" role="form">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="born">Дата рождения * :</label>
                            <input type="date" class="form-control" name="born" id="born" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="number">Номер телефона * :</label>
                            <input type="tel" class="form-control" name="number" id="number" placeholder="введите номер телефона" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="gender">Пол:</label><br>
                            <input type="radio"  value = 'MALE' name="gender" checked="" >Мужской<br>
                            <input type="radio" value = 'FEMALE' name="gender" >Женский
                        </div>

                        <div class="form-group">
                        <label for="gender">Вид деятельности * :</label><br>
                            <select required name="category" class="form-control">
                                <option value="" disabled selected="">Не выбрано</option>
                                {% for category in categories %}
                                    <option value="{{category.id}}"><strong>{{category.title}}</strong></option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                        <label for="description">Напишите о себе</label><br>
                            <textarea required name="description" id="description" class="form-control" rows = "4" placeholder="например: Женат , раньше работал где то где то"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="image">Фото:</label>
                            <input required type="file" class="form-control" name="image" id="image">
                        </div>
                        <div class="span7 text-center">
                            <input type='submit' value='завершить регистрацию'  class="btn btn-primary btn-lg btn-block" role="button">
                        </div>
                        <br><br><hr><br><br><br><br>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </section>



    <!-- Exit  model page -->
    <div class="modal fade" id="signout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{user.first_name}} {{user.last_name}}</h4>
            </div>
            <div class="modal-body">
                <h4>вы уверены что хотите выйти?</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="{% url 'main:signout'%}"><button type="button" class="btn btn-primary">Выйти</button></a>
                </div>
            </div>
        </div>
      </div>
    </div>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; Jumushbar 2015.</a>
                    </p>
                    <br>
                    <p class="text-center">
                        Мы в социальных сетях</a>
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-vk fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/new_style/jquery.js'%}"></script>
    <script src="{% static 'js/new_style/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/new_style/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/new_style/mousescroll.js'%}"></script>
    <script src="{% static 'js/new_style/jquery.prettyPhoto.js'%}"></script>
    <script src="{% static 'js/new_style/jquery.isotope.min.js'%}"></script>
    <script src="{% static 'js/new_style/jquery.inview.min.js'%}"></script>
    <script src="{% static 'js/new_style/wow.min.js'%}"></script>
    <script src="{% static 'js/new_style/main.js'%}"></script>
</body>
</html>