{%load staticfiles%}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JumushBar.kg</title>
	<!-- core CSS -->
    <link href="{% static 'css/new_style/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/new_style/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/normailze-input.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo-input.css' %}" rel="stylesheet">
    <link href="{% static 'css/component-input.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head><!--/head-->

<body id="home" class="homepage">


    <header id="top-header" class="navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                <nav class="collapse navbar-collapse navbar-left" role="navigation">
                    <div class="">
                        <ul id="nav" class="nav navbar-nav">
                            <li>
                                <a href="{%url 'home:mainpage'%}" class="menu-nav"><img height="35" src="{% static 'images/jumushbar1.png'%}"></a>
                            </li>

                            <li><a href="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
                            <!--<li class="scroll"><a href=""  style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;">Все задания</a></li>-->
                            <li> <a href="{%url 'home:list_workers'%}" class="menu-nav">Исполнители</a></li>
                        </ul>
                       
                    </div>
                </nav>
                    
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="">
                        <ul id="nav" class="nav navbar-nav">
                        <li><a href="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
                        <li><a href="{% url 'home:mainpage'%}#about" class="menu-nav">О нас</a></li>
                        <li><a href="{% url 'main:mainpage'%}" class="menu-nav">Обратная связь</a></li>
                        {% if user.username %}
                            <li><a href="{% url 'home:create_info'%}" class="menu-nav">Как стать исполнителем</a></li>
                            <li><a href="{% url 'main:signout'%}" class="menu-nav">Выйти</a></li>
                        {% else %}
                            <li><a href="{% url 'main:signin'%}" class="menu-nav">Войти</a></li>
                            <li><a href="{% url 'main:signup'%}" class="menu-nav">Регистрация</a></li>
                        {% endif %}
                        </ul>
                        
                        <!--<a href="" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;"><span id="contact" style=" line-height: 48px;padding: 10px 15px;text-decoration: none;background: transparent;">Войти</span> </a>
                        <a href="" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;"><span id="contact" style=" line-height: 48px;padding: 10px 15px;text-decoration: none;background: transparent;">Регистрация</span> </a>-->
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>

    {% if success_message%}
            <div class="alert alert-success text-center" role="alert">
            <br>
            <h5>{{success_message}}</h5>
            </div>
    {% endif %}
    <section id="main-slider">
        <div >
            <div class="item" style="background-image: url({% static 'images/home-bg.jpg' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <br><br><br><br><br><br><br>
                                    <img style="hegiht:750px;width:350px;" class="img-responsive center-block" src="{% static 'images/v3.png'%}">
                                    <br><hr class="small">
                                    <span class="subheading">{{slogan}}</span>
                                    <br><br>
                                        <a href="{% url 'home:add_task' %}"><button type="button" class="btn btn-lg btn-min-block btn-success">Заказать услугу</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="features">
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div >
                        <div class="section-heading text-center">
                            <h2 class="h-bold"> Наши услуги</h2>
                            <br><br>
                                <div class="divider-header"></div>
                                <h3>На данный момент</h3>
                            <div class="row text-center categories">
                                {% for category in categories %}
                                    {% if category.information_set.count > 0 %}
                                        {% if this_category.id ==  category.id %}
                                            <div class="col-md-4" style="background-color:yellow">
                                                <a href="{% url 'home:list_workers' category.id%}">
                                                    <br>
                                                    <img src="../../../media/{{category.icon}}" height="100" width="100">
                                                    <br>
                                                    {{category.title}}
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="col-md-4">
                                                <a href="{% url 'home:list_workers' category.id%}">
                                                    <br>
                                                    <img src="../../../media/{{category.icon}}" height="100" width="100">
                                                    <br>
                                                    {{category.title}}
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <br><br>
                        </div>
                    </div>
            </div>
            <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="post-preview">
                {% if this_category %}
                    <br>
                    <h4 class="text-center">Список сотрудников категории {{this_category.title}}</h4>
                    <br>
                    <hr>
                {% else %}
                    <br>
                    <h4 class="text-center">Список всех сотрудников</h4>
                    <br>
                    <hr>
                {% endif %}
                    {% for worker in workers %}
                        {% if forloop.counter0|mod:5 == 0 %}
                            <div class="col-md-1"></div>
                        {% endif %}
                        <a href="{% url 'home:look_profile' worker.pk %}">
                            <div class=' col-md-2 text-center bordered'>
                                    <br>
                                    <img src="../../../media/{{worker.image}}" height="100" width="100">
                                    <h3 class="post-subtitle">
                                        {{worker.user.first_name}}

                                    </h3>
                                    <h5 class="post-subtitle">
                                        {{worker.category.title}}<br>
                                        Дата рождения : {{worker.born_date}}
                                    </h5>
                            </div>
                        </a>

                    {% endfor %}

            </div>
            <hr>  
            </div>
                <br><br><br><hr>
                <div>

                    <h3 class="text-center" style="color:#FF5A09">В скором времени</h3>

                                <div class="row text-center categories">
                                    {% for category in categories %}
                                        {% if category.information_set.count < 1 %}
                                            <div class="col-md-4">
                                                <a>
                                                    <br>
                                                    <img src="../../../media/{{category.icon}}" height="100" width="100">
                                                    <br>
                                                    {{category.title}}
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                </div>
    </div>

    <hr>

    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; Jumushbar 2015.</a>
                    </p>
                    <br>
                    <p class="text-center">
                        Мы в социальных сетях</a>
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-vk fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/new_style/jquery.js'%}"></script>
    <script src="{% static 'js/new_style/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/new_style/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/new_style/mousescroll.js'%}"></script>
    <script src="{% static 'js/new_style/jquery.prettyPhoto.js'%}"></script>
    <script src="{% static 'js/new_style/jquery.isotope.min.js'%}"></script>
    <script src="{% static 'js/new_style/jquery.inview.min.js'%}"></script>
    <script src="{% static 'js/new_style/wow.min.js'%}"></script>
    <script src="{% static 'js/new_style/main.js'%}"></script>
</body>
</html>