

.widget-avatar .avatar:hover {
    border: 5px solid #E3E142;
}

.bg-skin {
	background: #E3E142;
}

.highlight-color {
	background-color: #E3E142;
}





form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #E3E142;
}
form.search-form input:focus {
	border-color: #E3E142;
}

/* footer */
ul.footer-menu li a:hover {
	color: #E3E142;
}

footer a.totop:hover {
	color: #E3E142;
}


.btn-skin {
  color: #fff;
  background-color: #E3E142;
  border-color: #E3E142;
}
