/* Move down content because we have a fixed navbar that is 50px tall */
body {
/*css for full size background image*/
  background: url('../images/background2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
