/* Move down content because we have a fixed navbar that is 50px tall */


.bordered{
    border: 2px solid white;
    border-radius: 10px;
    margin: 2px;
}
#main
 a:hover{
    color: #DCFA00;
    text-decoration: none;
    opacity: .9;
}